service: bug-app

custom:
  BUG_APP_DYNAMO_TABLE: bug-app-table
  RUST_LOG: debug

provider:
  name: aws
  runtime: rust
  environment: ${self:custom}

plugins:
  - serverless-rust
  - serverless-iam-roles-per-function

package:
  individually: true

functions:
  get_projects:
    handler: get_projects
    events:
      - http:
          path: /projects
          method: get
          cors: true
          integration: lambda
          request:
            passThrough: NEVER
            template:
              application/json: ""
              application/x-www-form-urlencoded: ""
          response:
            passThrough: WHEN_NO_TEMPLATES
            headers:
              Content-Type: integration.response.header.Content-Type
            template: $input.path('$')
    iamRoleStatements:
      - Effect: "Allow"
        Action:
          - dynamodb:Scan
        Resource:
          Fn::GetAtt:
            - BugTable
            - Arn

  create_project:
    handler: create_project
    events:
      - http:
          path: /projects
          method: post
          cors: true
          integration: lambda
          request:
            passThrough: WHEN_NO_TEMPLATES
            template:
              application/json: $input.json('$')
          response:
            passThrough: WHEN_NO_TEMPLATES
            headers:
              Content-Type: integration.response.header.Content-Type
            template: $input.path('$')
    iamRoleStatements:
      - Effect: "Allow"
        Action:
          - dynamodb:PutItem
          - dynamodb:GetItem
        Resource:
          Fn::GetAtt:
            - BugTable
            - Arn

  update_project:
    handler: update_project
    events:
      - http:
          path: /projects
          method: put
          cors: true
          integration: lambda
          request:
            passThrough: WHEN_NO_TEMPLATES
            template:
              application/json: $input.json('$')
          response:
            passThrough: WHEN_NO_TEMPLATES
            headers:
              Content-Type: integration.response.header.Content-Type
            template: $input.path('$')
    iamRoleStatements:
      - Effect: "Allow"
        Action:
          - dynamodb:UpdateItem
        Resource:
          Fn::GetAtt:
            - BugTable
            - Arn

resources:
  Resources:
    BugTable:
      Type: "AWS::DynamoDB::Table"
      Properties:
        TableName: ${self:custom.BUG_APP_DYNAMO_TABLE}
        AttributeDefinitions:
          - AttributeName: projectId
            AttributeType: S
          - AttributeName: bugId
            AttributeType: N
        KeySchema:
          - AttributeName: projectId
            KeyType: HASH
          - AttributeName: bugId
            KeyType: RANGE
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1

